@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f97316;
  --color-secondary: #ea580c;
}

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
  margin: 0;
  padding: 0;
}
